*{
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  background-color:#F5f5f5;
  justify-content: space-between;
  padding: 20px;
}
.nav {
  list-style: none;
  display: flex;
  
}
.nav li a{
  margin-right: 20px;
  text-decoration: none;
  color: black  ;

}

.logo img {
  height:48px;
  width: 75px;
}
.nav a.home{
  color: orange;
}
li a:hover{
  color: #ff7a57;
}
.main-section{
  display: flex;
  border: 1px solid #e1e1e1;
  width:100%;
}
.sec1{

  width: 50%;
  margin-top: 110px;
  margin-left: 160px;

  
}
.sec2{
  width: 50%;
  
}
.myimage{
  width: 520px;
  height: 520px;
  margin-right: 12.0px;
  
  
}
.sec1h1
{
  font-size: 25px;
  color: #495057;
  text-align: left;
  font-weight: 500;
}
.sec1h2
{
  font-size: 60px;
  text-align: left;
  font-weight: 700;
  color:#495057;
  line-height: 88px;

}

.sec1p1
{
  font-size: 22px;
  color: #495057;
  text-align: left;

}
  .sec1b1{
  font-size:14px;
  font-weight: 700;
  background-color: #ff7a57;
  padding: 12px;
  color: white;
  border-radius: 50px;
  border: 1px solid #ff7a57;
  margin: 15px 12px;

}
.sec1b2{
  font-size:14px;
  font-weight: 700;
  background-color: #343a40;
  padding: 12px;
  color: white;
  border-radius: 50px;
  border: 1px solid #343a40;
  margin: 15px 12px;
  
}
#social1
{
  color: #ff7a57;
  font-size: 22px;
  margin-right: 2px;
  border: 1px solid #ff7a57 ;
  padding: 5px;
  border-radius: 50px;
}
.main-sectionChild
{
  display: flex;
  justify-content: space-around;
  max-width: 750px;
  padding: 15px;
  background-color: #fafafa;
  align-content: center;
  border-radius: 30px;
  margin-left: 200px;
  margin-top: -50px;
  
}
.widget-items
{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bottom-section{
  display: flex;
  width: 100%;
  height: 300px;
  
}
.bottom-section-child1 
{
  width: 30%;
  height: 300px;
  
}
.myimage2
{
  height: 256px;
  width: 256px;
  border: 1px solid #F5f5f5;
  border-radius: 15px;
  margin-left: 70px;
  margin-top: 35px;
}
.bottom-section-child2
{
  width: 70%;
  margin-left: 80px;
  margin-right: 135px;
  margin-top: 35px;
  line-height: 30px;
} 

.media
{
  margin-left: 30px;
}
.section4{
  margin-top: 105px;
  text-align: center;
  line-height: 40px;
}
.sec4p
{
  font-size: 25px;
  font-weight: 500;
  color: #495057;
  
  
}
.sec4h{
  font-size: 35px;
  font-weight: 700;
  color: #495057;
  /* line-height: 53px; */

}
.section5
{
  
  display: flex;
  justify-content: center;
  margin-top: 32px;
  
  
  
}
.box
{
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 0 30px rgba(173, 181, 189, .4);
  text-align: center;
  margin-right: 20px;
}
.box:hover
{
  background-color: #ff7a57;
  color: white;
}
.box:hover #boxp
{
  color: white;
}
.box:hover #icon
{
  color: white;
}

#icon
{
  font-size: 40px;
  margin-bottom: 18px;
  color: #ff7a57;
/* margin-left: 20px; */
}

#boxp
{
  font-size:22px;
  color: #495057;
  text-align: center;
}
.section6
{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  justify-content: space-around;
  
}
.skills
{
  width: 40%;
  margin-right: 40px;
  line-height: 50px;
}

.line
{
  
  height: 15px;
  background-color:#ff7a57;
  border-radius: 5px;
  
  
}
span
{
  font-size: 18px;
  color: #495057;
  text-align: left;
  font-weight: 500;

}
#line1
{
  background: linear-gradient(90deg, #ff7a57  95%,#00004f 5% );
}
#line2
{
  background: linear-gradient(90deg, #ff7a57  90%,#00004f 10% );
}
#line3
{
  background: linear-gradient(90deg, #ff7a57  80%,#00004f 20% );
}
#line4
{
  background: linear-gradient(90deg, #ff7a57  80%,#00004f 20% );
}
.sectionZ {margin-top: 105px;
text-align: center;
line-height: 40px;
}

.section7{
  margin-top: 105px;
  text-align: center;
  line-height: 40px;
  
}
.sample{
  height: 430px;
  width: 280px;
  box-shadow: rgba(206, 212, 218, 0.3) 2px 3px 10px;
  border:1px solid rgb(222, 226, 230) !important;
  margin-right:30px;
  border-radius: 10px;

}

.sec7{
  display: flex;
  width: 900px;
}

